body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.logout-button {
    align-self: flex-end;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #ff4c4c;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons-container button {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.buttons-container button:hover {
    background-color: #5a4dcf;
}

#content {
    width: 85%;
    margin-top: 20px;
    overflow-x: auto;
}

#filterClass,
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Зеленый */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#filterClass.active,
button.active {
    display: block;
    margin-bottom: 10px;
}

#content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#content th, #content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#content th {
    background-color: #4caf50;
    color: white;
}

.export-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.export-button:hover {
    background-color: #5a4dcf;
}
